.flex{
	display:-webkit-flex; display:-moz-flex; display:flex; display:-ms-flexbox;
}
.vertical{
	box-orient: vertical;
}
.login{
	display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;    /* 老版本语法: Firefox (buggy) */ 
  display: -ms-flexbox;  /* 混合版本语法: IE 10 */
  display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
  display: flex;
   /*老版本语法*/
  -webkit-box-align: center; 
  -moz-box-align: center;
  /*混合版本语法*/
  -ms-flex-align: center; 
  /*新版本语法*/
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100% ;
  background: url('../img/login_bg.png');
}
.login_center{
	width: 100%;
	text-align: center;
}
.login_center img{
	width: 10rem;
	margin-bottom: 3rem;
}
.login_center img.login_logo{
	margin-bottom: 1rem;
}
.login_center .am-btn{
	width: 30%;
	margin: 0 .5rem;
	padding-top: 5px;
	padding-bottom: 5px;
}
.login_center input.am-form-field{
	width: 100%;
	height: 2.5rem;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .4);
	border-radius: 5px;
	border: none;
	color: white;
	margin-bottom: 1rem;
}
.login_center p{
	margin-top: .5rem;
}
.login_form{
	width: 70%;
	margin: 0 auto;
}
.login_center input.am-form-field::-webkit-input-placeholder{
	color: white;
}
.login_center input.am-form-field::-moz-input-placeholder{
	color: white;
}
.login_center input.am-form-field::-ms-input-placeholder{
	color: white;
}
.login_form p{
	margin-top: -0.5rem;
	text-align: right;
}
.login_form p a{
	font-size: .9rem;
	color: white;
	text-decoration: underline;
}
.register form{
	margin: 0 20px;
	padding-top: 15px;
}
.reg_input{
	margin-bottom: 1rem;
}
.reg_input label{
	width: 8rem;
	background-color: #ececec;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	font-size: 2rem;
	font-weight: normal;
	white-space:nowrap;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.reg_input input{
	height: 3rem;
	border: none;
	outline: none;
	background-color: #ececec;
	-webkit-flex: 1;
	margin-left: .5rem;
	padding: 0 1rem;
	color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.reg_input input::-webkit-input-placeholder{
	color: black;
}
.reg_input input::-moz-input-placeholder{
	color: black;
}
.reg_input input::-ms-input-placeholder{
	color: black;
}
.user_agreement{
	margin-bottom: 3rem;
}
.user_agreement span.user{
	font-size: 1.1rem;
}
.user_agreement span a{
	color: #f85454;
}
.reg_btn{
	text-align: center;
}
.register button{
	padding: 5px 3rem;
	border-radius: 5px;
}
.register .am-btn-default{
	background-color: #c0c0c0;
	color: #d4d4d4;
}
.reg_test{
	margin-bottom: 1rem;
}
.reg_test input{
	border: none;
	background-color: #ececec;
	color: black;
	height: 3rem;
	width: 8rem;
	font-size: 1.3rem;
	padding: 0 .7rem;
	outline: none;
}
.reg_test input::-webkit-input-placeholder{
	color: black;
}
.reg_test input::-moz-input-placeholder{
	color: black;
}
.reg_test input::-ms-input-placeholder{
	color: black;
}
.reg_test button{
	border: none;
	outline: none;
	background-color: #ececec;
	color: black;
	height: 3rem;
	padding: 0 .7rem;
	font-size: 1.3rem;
	border-radius: 5px;
}
.shade{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;    /* 老版本语法: Firefox (buggy) */ 
  display: -ms-flexbox;  /* 混合版本语法: IE 10 */
  display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
  display: flex;
   /*老版本语法*/
  -webkit-box-align: center; 
  -moz-box-align: center;
  /*混合版本语法*/
  -ms-flex-align: center; 
  /*新版本语法*/
  -webkit-align-items: center;
  align-items: center;
	opacity: 0;
	
}
.shade.up{
	animation:mymove 1s 1;
    -webkit-animation:mymove 1s 1;
}
.shade div{
	width: 12rem;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	color: white;
	text-align: center;
}
.shade div span{
	font-size: 4rem;
}
.shade div p{
	font-size: 1rem;
	margin: 10px 0 20px;
}

@-webkit-keyframes mymove{
   	0%{opacity: 0;z-index: -1;}
   	50%{opacity: 1;z-index: 100;}
   	100%{opacity: 0;z-index: -1;}
}
















