/* Write your styles */
body{
	background:rgb(241, 241, 241);
 }
.am-slider-default .am-control-nav{
	bottom: 5px;
 }
 .am-direction-nav a{
 	display:none!important;
 }

.am-shadow{
	background: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.veg li{
	text-align:center;
}
.veg img{
	width:5rem!important;
	height:5rem!important;
}
.amft{
	height:50px;
	background:white;
}
.b{
	text-align:center;
}
.add {
    color: #4CAF50;
    cursor: pointer;
    font-size: 1.2em;
}
.reduce {
	display:none;
    color: #FF9800;
    cursor: pointer;
    font-size: 1.2em;
    transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
}
.numTxt {
	display:none;
    background: none;
    width: 1rem;
    text-align: center;
    border: none;
    font-size: 0.7rem; 
    margin-top: -0.4rem;
     transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
}
.months{
	    font-size: 12px;
    margin-top: 5px;
}
.pr{
	color:red;
	display: inline-block;
    margin-top: 0.5rem;
}
.foodNum{ 
	float: right!important;
    position: relative!important;
    top: 0em!important;
    right:2rem!important;
}
.allmoney {
    margin-left: 0.3em!important;
    background: none;
    border: none;
    font-size: 1em;
    width: 2em;
        margin-top: -0.5rem;
}
#fen{
	width:1.5rem;
	text-align:center;
}
.topform{
	    position: relative;
    background-color: #E44848;
}
.topform .am-g{
	width:80%;
}
.topform button{
	    border: 0;
    background: none;
    position: absolute;
    top: 19px;
    left: 50px;
}
.topform input{
	    display: inline-block; 
    margin: 15px auto;
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 15px;
}
.card{
	margin-top: -1px;
	width:100%;
}
.red{
color:#FE5F59!important;
}
.yellow{
color:#FFC234!important;
}
.green{
color:#4AB162!important;
}
.pink{
color:#E3494B!important;
}
.sc{
	color:#ED4E84;
}
.purple{
	color:#A770CD;
}
.bpurple{
	background-color:#A770CD;
}
.bgreen{
	background-color:#4AB162;
}
.blue{
	color: #5591F3;
}
.hot{
	background-color:white;
	margin-top:5px;
}
.hot .am-u-sm-4{
	padding:0;
	margin:0;
	text-align:center;
}
.hot .am-u-sm-4 img{
	    height: 7.5rem;
    width: 7.5rem;
}
.hot .am-u-sm-4 p{ 
	    margin: 10px;
    font-size: 14px;
}
.htit{
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0;
}
.am-thumbnail {
	border: 1px solid rgba(0,0,0,.1);
    margin-bottom:0!important; 
    border-right: 0!important;
    border-top: 0!important;
    }
  .fcai{
  	margin-top:5px; 
  	padding:10px 15px 5px;
  }
  .fcai a{
  	color:white!important;
  	border-radius:3px;
  	margin:10px auto;
  	transition:all 0.5s ease-out;
  	-webkit-transition: all 0.5s ease-out;
  }
  .fcai a.bgreen:hover{
  	background-color:#439E58;
  }
  .fcai a.bpurple:hover{
  	background-color:#9263B3;
  }
@media only screen and (min-width:767px){
	.topform input{
		font-size:16px;
		height:3rem;
	}
	.topform button{
	top:21px; 
    left: 90px;
}
}
@media only screen and (max-width:320px){
	.topform button{  
    left: 40px;
}
}

